.blank-content {
    height: 20px;
    background: #e8e8e8;
    border-radius: 4px;
    animation: blink 3s 0s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}
