.content-tile {
    background: #fff;
    border-radius: 6px;
    margin: auto;
    position: relative;
    padding: 30px;
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.15);
    border: 3px solid #e4e9ef;
    width: 100%;
    max-width: 1170px;

    &.--generator {
        max-width: 400px;
        padding-bottom: 40px;
    }

    &__nav {
        position: absolute;
        left: 0;
        top: -30px;

        a {
            color: #757575;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
