@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import "components/qr-input";
@import "components/qrcode";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f3f8ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.centered-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
